@model IEnumerable<Gym.DAL.Models.EquipDAL>



    <div class="containter d-flex flex-wrap">
    @foreach(var item in Model)
    {
       
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@item.ImageLink" alt="@item.Name">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">@item.Name</h5>
    <p class="card-text">@item.Description</p>
    <ul>
        @foreach (var subitem in item.ExercisesList ) {
           @foreach (var evenDeeperItem in subitem.PrimaryMuscleList)
           {
                <li style="font-weight: 500; color: red;">@evenDeeperItem.Name</li>
           }
                        
        }
    </ul>
  </div>
</div>
 
    }
</div>